<div id="startModal" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <%=strings.modals.editorStart.title%>
                </h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <img src="/img/logoSm.png" height="150px" />
                <h4>
                    <%=strings.modals.editorStart.body_title%>
                </h4>
                <ul style="text-align: left;">
                    <% strings.modals.editorStart.rules.forEach(function(rule) { %>
                    <li><%-rule%></li>
                    <% }); %>
                </ul>
                <button type="button" class="btn btn-success btn-lg" onclick="startEditor();"><%=strings.modals.editorStart.button%></button>
            </div>
            <div class="modal-footer">
                <%=strings.modals.editorStart.footer%>
            </div>
        </div>
    </div>
</div>