<div id="rulesModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <%=strings.modals.rules.title%>
                </h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <img src="/img/logoSm.png" height="150px"/>
                <h3><%=strings.modals.rules.body_title_rules%></h3>
                <ul>
                    <% strings.modals.rules.rules.forEach(function(rule) { %>
                    <li><%-rule%></li>
                    <% }); %>
                </ul>
                <h3><%=strings.modals.rules.body_title_modes%></h3>
                <ul>
                    <% strings.modals.rules.modes.forEach(function(mode) { %>
                    <li><%-mode%></li>
                    <% }); %>
                </ul>
                <p>
                    <%-strings.modals.rules.general%>
                </p>
                <button type="button" class="btn btn-success btn-lg" data-dismiss="modal">Ok</button>
            </div>
            <div class="modal-footer"> 
                <center>
                <%=strings.modals.rules.footer_title%>
                <p>
                    <%=strings.modals.rules.footer_disclaimer%>
                </p>
                </center>
            </div>
        </div>
    </div>
</div>