<div id="finishModal" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title titleToModify">
                    <!-- Filled with js -->
                </h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <img src="/img/logoSm.png" height="150px" />
                <h3>
                    <p id="winmsgYielded"><%=strings.modals.finish.winmsgYielded%></p>
                    <p id="winmsgGenericYellow"><%=strings.modals.finish.winmsgGenericYellow%></p>
                    <p id="winmsgGenericBlue"><%=strings.modals.finish.winmsgGenericBlue%></p>
                    <p id="winmsgGenericDraw"><%=strings.modals.finish.winmsgGenericDraw%></p>
                    <p id="winmsgMinturnsSuccess"><%=strings.modals.finish.winmsgMinturnsSuccess%></p>
                    <p id="winmsgMinturnsFailed"><%=strings.modals.finish.winmsgMinturnsFailed%></p>
                </h3>
                <button id="btnBack" type="button" class="btn btn-warning btn-lg" onclick="window.location ='/';"><%=strings.modals.finish.btnBack%></button>
                <button id="btnRepeat" type="button" class="btn btn-info btn-lg" onclick="window.location.reload();"><%=strings.modals.finish.btnRepeat%></button>
                <button id="btnNext" type="button" class="btn btn-success btn-lg" onclick="nextLevelForward();"><%=strings.modals.finish.btnNext%></button>
                <button id="btnInspectBoard" type="button" class="btn btn-info btn-lg" onclick="DisplayController.inspectBoardAfterFinish();"><%=strings.modals.finish.btnInspectBoard%></button>
            </div>
        </div>
    </div>
</div>