<% accTypes.forEach(function(type) { %>
    <div id="<%= type.id %>" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><%=type.name%></h4>
                </div>
                <div class="modal-body">
                    <div id="acc_<%= type.id %>" class="panel-group">
                        <% availSubtypes.forEach(function(subtype) { %>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#acc_<%= type.id %>"
                                            href="#<%= type.id %><%= subtype.id %>">
                                            <%=subtype.name%>
                                        </a>
                                    </h4>
                                </div>
                                <div id="<%= type.id %><%= subtype.id %>" class="panel-collapse collapse">
                                    <div id="<%= type.id %><%= subtype.id %>_panel-body" class="panel-body">
                                        <!-- Filled with js -->
                                    </div>
                                </div>
                            </div>
                        <% }); %>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#acc_<%= type.id %>" 
                                        href="#<%= type.id %>__fresh">
                                        <%=strings.modals.menu.sp_mp.acc_editor_title%>
                                    </a>
                                </h4>
                            </div>
                            <div id="<%= type.id %>__fresh" class="panel-collapse collapse">
                                <div id="<%= type.id %>__fresh_panel-body" class="panel-body">
                                    <!-- Filled with js -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <%=type.footer%>
                </div>
            </div>
        </div>
    </div>
<% }); %>

<div id="mp_g" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><%=strings.modals.menu.mp_g.title%></h4>
            </div>
            <div class="modal-body">
                <div class="globalLobby createNewGame">
                    <h4><%=strings.modals.menu.mp_g.create_title%></h4>
                    <form>
                        <label for="newName"><%=strings.modals.menu.mp_g.new_game_form.name_input%></label>
                        <input id="newName" class="form-control" type="text" placeholder="<%=strings.modals.menu.mp_g.new_game_form.name_input%>">
                        <label for="newLevel-select"><%=strings.modals.menu.mp_g.new_game_form.new_level_select%></label><br>
                        <input class="categoryFilter" type="checkbox" value="rook" onchange="filterForCheckedCategory();" checked><%=strings.general.figures[3]%>
                        <input class="categoryFilter" type="checkbox" value="bishop" onchange="filterForCheckedCategory();" checked><%=strings.general.figures[2]%>
                        <input class="categoryFilter" type="checkbox" value="queen" onchange="filterForCheckedCategory();" checked><%=strings.general.figures[4]%>
                        <input class="categoryFilter" type="checkbox" value="king" onchange="filterForCheckedCategory();" checked><%=strings.general.figures[5]%>
                        <input class="categoryFilter" type="checkbox" value="knight" onchange="filterForCheckedCategory();" checked><%=strings.general.figures[1]%>
                        <input class="categoryFilter" type="checkbox" value="pawn" onchange="filterForCheckedCategory();" checked><%=strings.general.figures[0]%>
                        <input class="categoryFilter" type="checkbox" value="mini" onchange="filterForCheckedCategory();" checked><%=strings.general.modes[2]%>
                        <select id="newLevel-select" class="form-control" onchange="globalCheckForMini();">
                            <!-- Filled with js -->
                        </select>
                        <div class="radio">
                            <label><input type="radio" id="newGameRadioUnbeatable" name="gameMode" value="unbeatable" checked><%=strings.modals.menu.mp_g.new_game_form.game_mode_0%></label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" id="newGameRadioBeatable" name="gameMode" value="beatable"><%=strings.modals.menu.mp_g.new_game_form.game_mode_1%>
                            </label>
                        </div>
                    </form>
                    <button class="btn btn-primary" onclick="createNewGame();"><%=strings.modals.menu.mp_g.new_game_form.create_new_game%></button>
                </div>
                <div class="globalLobby openGameList">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><%=strings.modals.menu.mp_g.game_list.th1%></th>
                                <th><%=strings.modals.menu.mp_g.game_list.th2%></th>
                                <th><center><%=strings.modals.menu.mp_g.game_list.th3%></center></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="globalGames_tbody">
                            <tr id="openGamesPlaceholder">
                                <td colspan="4" style="text-align: center;"><%=strings.modals.menu.mp_g.no_levels_yet%></td>
                            <tr>
                            <!-- Filled with js -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <%=strings.modals.menu.mp_g.footer%>
            </div>
        </div>
    </div>
</div>

<div id="mini" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><%=strings.modals.menu.mini.title%></h4>
            </div>
            <div id="modalBodyMini" class="modal-body">
                <div id="miniLevels">
                    <!-- Filled with js -->
                </div>
                <div id="acc_mini" class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#acc_mini" 
                                    href="#mini__fresh">
                                    <%=strings.modals.menu.mini.acc_editor_title%>
                                </a>
                            </h4>
                        </div>
                        <div id="mini__fresh" class="panel-collapse collapse">
                            <div id="mini__fresh_panel-body" class="panel-body">
                                <!-- ... Filled with js ... -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <%=strings.modals.menu.mini.footer%>
            </div>
        </div>
    </div>
</div>