<div id="startModal" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title titleToModify">
                    <!-- Filled with js -->
                </h4>
            </div>
            <div class="modal-body" style="text-align: center">
                <img src="/img/logoSm.png" height="150px" />
                <h3 id="lvlDescr">
                    <!-- Filled with js -->
                </h3>
                <% if (type === 'sp' || type === 'mini') { %>
                <button type="button" class="btn btn-success btn-lg" onclick="startGame();"><%=strings.modals.start.button%></button>
                <% } else if (type === 'global') { %>
                <center>
                    <div class="loader"></div>
                    <a href="/"><%=strings.modals.start.cancle_search%></a>
                </center>
                <% } else { %>
                <form>
                    <div class="radio">
                        <label>
                            <input type="radio" name="gameMode" value="unbeatable" checked><%=strings.modals.start.unbeatable%>
                        </label>
                    </div>
                    <div class="radio">
                        <label id="possibleDisableIfKingLvl_label">
                            <input id="possibleDisableIfKingLvl_input" type="radio" name="gameMode" value="beatable"><%=strings.modals.start.beatable%>
                        </label>
                    </div>
                    <button type="button" class="btn btn-success btn-lg" onclick="startGame();"><%=strings.modals.start.button%></button>
                </form>
                <% } %>
            </div>
            <div class="modal-footer">
                <%= footer %>
            </div>
        </div>
    </div>
</div>