<!DOCTYPE html>
<html lang="<%=lang%>">
<head>
    <% include ./partials/head %>

    <script src="/libs/pixi.js/dist/pixi.min.js"></script>
    <script src="/js/gameEngine.js"></script>
    <script src="/js/editor/displayController.js"></script>
    <script src="/js/editor/editor.js"></script>
    <title><%=strings.editor.title%></title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/editor.css">
    <link rel="stylesheet" type="text/css" href="/css/board.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">

</head>


<body>

<% include partials/language_selection %>

<div id="modalOverlay" class="overlay"></div>
<div id="overlay" class="overlay"></div>
<div id="nav">
    <div id="btn_menu" class="sideIcon" onclick="DisplayController.toggleClick();" style="background-image: url(/img/save_icon.png);"></div>
    <div class="sideIcon" style="background-image: url(/img/close.png); bottom: 10px;" onclick="window.location = '/<%=lang%>';"></div>
    <div class="sideIcon" style="background-image: url(/img/clear.jpg); bottom: 10px; right: -115px;" onclick="window.location = '/<%=lang%>/editor'"></div>

    <div class="nav-container" style="top: 0; height: 100%;">
        <form class="propertiesForm" action="javascript:void(0);" style="overflow-y: auto;">
            <div class="form-group">
                <label for="type"><%=strings.editor.prop_form.type_select%></label>
                <select id="type" class="form-control" name="type" onchange="DisplayController.checkToggleOptionsOnType();">
                    <% type_options.forEach(function(opt) { %>
                    <option value=<%=opt.value%>><%=opt.name%></option>
                    <% }); %>
                </select>
            </div>
            <div id="subtypeFormGroup" class="form-group">
                <label for="subtype"><%=strings.editor.prop_form.subtype_select%></label>
                <select id="subtype" class="form-control" name="subtype">
                    <% subtype_options.forEach(function(opt) { %>
                    <option value=<%=opt.value%>><%=opt.name%></option>
                    <% }); %>
                </select>
            </div>
            <div class="form-group">
                <label for="name"><%=strings.editor.prop_form.name_input%></label>
                <input id="name" class="form-control" type="text" name="name" required="true">
            </div>
            <div class="form-group">
                <label for="description"><%=strings.editor.prop_form.description_input%></label>
                <textarea id="description" class="form-control" name="description" rows="3" required="true"></textarea>
            </div>
            <div id="minTurnsFormGroup" class="form-group">
                <label for="minturns"><%=strings.editor.prop_form.minturns_input%></label>
                <input id="minturns" type="number" class="form-control" name="minturns" required="true">
            </div>
            <div id="miniWinFormGroup" class="form-group">
                <label for="miniWin"><%=strings.editor.prop_form.wincondition_select%></label>
                <select id="miniWin" class="form-control" name="miniWin" onchange="DisplayController.checkToggleOptionsOnType();">
                    <% wincondition_options.forEach(function(opt) { %>
                    <option value=<%=opt.value%>><%=opt.name%></option>
                    <% }); %>
                </select>
            </div>
            <div id="miniWinSpecsFormGroup" class="form-group">
                <label for="miniWinFigure"><%=strings.editor.prop_form.wincondition_specs.figure%></label>
                <select id="miniWinFigure" class="form-control" name="miniWinSpecsFigure">
                    <% wincondition_specs_figure.forEach(function(fig) { %>
                    <option value=<%=fig.value%>><%=fig.name%></option>
                    <% }); %>
                </select>
                <label for="miniWinFieldX"><%=strings.editor.prop_form.wincondition_specs.fieldX%></label>
                <select id="miniWinFieldX" class="form-control" name="miniWinSpecsFieldX">
                    <% [[1,"A"],[2,"B"],[3,"C"],[4,"D"],[5,"E"],[6,"F"],[7,"G"],[8,"H"]].forEach(function(file) { %>
                    <option value=<%=file[0]%>><%=file[1]%></option>
                    <% }); %>
                </select>
                <label for="miniWinFieldY"><%=strings.editor.prop_form.wincondition_specs.fieldY%></label>
                <select id="miniWinFieldY" class="form-control" name="miniWinSpecsFieldY">
                    <% [[8,1],[7,2],[6,3],[5,4],[4,5],[3,6],[2,7],[1,8]].forEach(function(row) { %>
                    <option value=<%=row[0]%>><%=row[1]%></option>
                    <% }); %>
                </select>
                <label for="miniWinPlayer"><%=strings.editor.prop_form.wincondition_specs.player%></label>
                <select id="miniWinPlayer" class="form-control" name="miniWinSpecsPlayer">
                    <% wincondition_specs_player.forEach(function(p) { %>
                    <option value=<%=p.value%>><%=p.name%></option>
                    <% }); %>
                </select>
            </div>
            <center>
                <button class="btn btn-primary btn-lg" onclick="saveLvl();"><%=strings.editor.prop_form.save_button%></button><br><br>
                <div id="wannaContactFormGroup" class="form-group">
                    <label for="wannaContact"><%=strings.editor.prop_form.contact.doI%></label>
                    <input id="wannaContact" class="form-control" name="wannaContact" type="checkbox" value="iWanna" onclick="DisplayController.toggleWannaContact();"><%=strings.editor.prop_form.contact.wanna%>
                </div>
                <div id="contactFormGroup" class="form-group">
                    <label for="contactName"><%=strings.editor.prop_form.contact.name%></label>
                    <input id="contactName" class="form-control" type="text" name="contactName">
                    <label for="contactEmail"><%=strings.editor.prop_form.contact.email%></label>
                    <input id="contactEmail" class="form-control" type="text" name="contactEmail">
                    <label for="contactAddress"><%=strings.editor.prop_form.contact.address%></label>
                    <input id="contactAddress" class="form-control" type="text" name="contactAddress">
                    <br>
                    <label for="contact18"><%=strings.editor.prop_form.contact["18plus"]%>
                    <input id="contact18" name="" type="checkbox" value="am18plus"></label>
                </div>
            </center>
        </form>
    </div>
<!--     <div class="nav-container iconBar" style="top: 80% !important;">
        <div>
            <a href="/<%=lang%>/">
            </a>
            <a href="/<%=lang%>/editor">
                <img id="reset" src="/img/clear.jpg" title="<%=strings.editor.icon_bar.reset%>">
            </a>
        </div>
    </div> -->
</div>

<div id="board-container">
    <div class="board-labels bl-top" style="margin-top: -5vmin;">
        <div>A</div><div>B</div><div>C</div><div>D</div><div>E</div><div>F</div><div>G</div><div>H</div>
    </div>
    <div class="board-labels bl-right" style="margin-left: 65vmin;">
        <div>8</div><div>7</div><div>6</div><div>5</div><div>4</div><div>3</div><div>2</div><div>1</div>
    </div>
    <div class="board-labels bl-bottom"  style="margin-top: 65vmin;">
        <div>A</div><div>B</div><div>C</div><div>D</div><div>E</div><div>F</div><div>G</div><div>H</div>
    </div>
    <div class="board-labels bl-left"  style="margin-left: -5vmin;">
        <div>8</div><div>7</div><div>6</div><div>5</div><div>4</div><div>3</div><div>2</div><div>1</div>
    </div>
    <div id="board-anchor">
        
    </div>
    <div class="chipsAndFigures board-labels bl-top" style="margin-top: -15vmin;">
        <div></div>
    <% figuresBlue.forEach(function(fig) { %>
        <div id="blue_<%=fig.type%>" class="selectable" onclick="select(playerType.PLAYERTWO, '<%=fig.type%>', '<%=fig.picSrc%>');">
            <img src="/img/<%=fig.picSrc%>">
        </div>
    <% }); %>
        <div></div>
    </div>
    <div class="chipsAndFigures board-labels bl-right" style="margin-left: 70vmin;">
        <div></div><div></div>
        <% chips.forEach(function(chip) { %>
        <div id="chip_<%=chip.type%>" class="selectable" onclick="select('<%=chip.type%>', 'CHIP', '<%=chip.picSrc%>');">
            <img src="/img/<%=chip.picSrc%>">
        </div>
        <% }); %>
        <div></div><div></div>
    </div>
    <div class="chipsAndFigures board-labels bl-bottom"  style="margin-top: 70vmin;">
        <div></div>
        <% figuresYellow.forEach(function(fig) { %>
        <div id="yellow_<%=fig.type%>" class="selectable" onclick="select(playerType.PLAYERONE, '<%=fig.type%>', '<%=fig.picSrc%>');">
            <img src="/img/<%=fig.picSrc%>">
        </div>
        <% }); %>
        <div></div>
    </div>
    <div id="selection">

    </div>
    <div id="clearSelection" onclick="clearSelection();">
        <img src="/img/cancel.png">
    </div>
</div>

<% include partials/modal_editorStart %>

</body>
</html>