<!DOCTYPE html>
<html lang="de">
<head>
    <% include ./partials/head %>

    <script src="/js/menu.js"></script>
    <title>Chipschach Digital</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
</head>

<body>
<div class="gridContainer">
<div class="grid">
    <% iconRows.forEach(function(row) { %>
    <div class="gridRow">
        <% row.forEach(function(icon) { %>
        <div class="gridCol">
            <% if (icon.id == 'impressum') { %>
            <a class="menuIcon" data-toggle="modal" data-target="#<%=icon.id%>"
               style="background-image: url('img/<%= icon.picId %>.png'); background-size: 100%;">
                <p><%= icon.name %></p>
            </a>
            <% } else if (icon.id == 'editor') {%>
            <a class="menuIcon" href="/editor"
               style="background-image: url('img/<%= icon.picId %>.png'); background-color: white; border: 5px solid <%=icon.status%>;">
                <p><%= icon.name %></p>
            </a>
            <% } else if (icon.id == 'exit') { %>
            <a class="menuIcon" href="http://www.schach-fuer-kids.de/"
               style="background-image: url('img/<%= icon.picId %>.png'); background-size: 50%; background-color: white;">
                <p><%= icon.name %></p>
            </a>
            <% } else if (icon.id == 'help') { %>
            <a class="menuIcon" data-toggle="modal" data-target="#rulesModal"
               style="background-image: url('img/<%= icon.picId %>.png'); background-size: 50%; background-color: white;">
                <p><%= icon.name %></p>
            </a>
            <% } else {%>
            <a class="menuIcon" data-toggle="modal" data-target="#<%= icon.id %>"
               style="background-image: url('img/<%= icon.picId %>.png'); background-color: white; border: 5px solid <%=icon.status%>;">
                <p><%= icon.name %></p>
            </a>
            <% } %>
        </div>
        <% }); %>
    </div>
    <% }); %>
</div>
</div>

<% include partials/modals_menu.ejs %>
<% include partials/modal_impressum.ejs %>
<% include partials/modal_rules %>

</body>
</html>