<!DOCTYPE html>
<html lang="de">
<head>
    <% include ./partials/head %>

    <title>Chipschach Digital</title>
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
</head>

<body>
<div id="body-container">
    <div id="menuAnchor" class="menuLayoutTable">
        <% iconRows.forEach(function(row) { %>
            <div class="row">
                <% row.forEach(function(icon) { %>
                    <% if (icon.id == 'exit') { %>
                        <a href="http://www.schach-fuer-kids.de/" style="background-image: url('img/<%= icon.picId %>.png'); background-color: white;">
                            <p><%= icon.name %></p>
                        </a>
                    <% } else if (icon.id == 'editor') {%>
                        <a href="/editor" style="background-image: url('img/<%= icon.picId %>.png'); background-color: white;">
                            <p><%= icon.name %></p>
                        </a>
                    <% } else if (icon.id != '') {%>
                        <a data-toggle="modal" data-target="#<%= icon.id %>"
                           style="background-image: url('img/<%= icon.picId %>.png'); background-color: white;">
                            <p><%= icon.name %></p>
                        </a>
                    <% } else { %>
                        <a style="cursor:default;"></a>
                    <% } %>
                <% }); %>
            </div>
        <% }); %>
    </div>
</div>

<div class="container">
<% include partials/modal_menu_spMpMini %>
<% include partials/modal_impressum %>
<% include partials/modal_menu_mpGlobalLobby %>
</div>
</body>
</html>