<!DOCTYPE html>
<html lang="<%=lang%>">
<head>
    <% include ./partials/head %>

    <script src="/libs/pixi.js/dist/pixi.min.js"></script>
    <script src="/js/gameEngine.js"></script>
    <script src="/js/playground/communication.js"></script>
    <script src="/js/playground/playground.js"></script>
    <script src="/js/playground/displayController.js"></script>
    <script src="/js/playground/gameController.js"></script>
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/playground.css">
    <link rel="stylesheet" type="text/css" href="/css/board.css">
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
</head>

<body>

<% include partials/language_selection %>

<div id="modalOverlay" class="overlay"></div>
<div id="overlay" class="overlay"></div>

<div id="nav">
    <div id="btn_menu" class="btnTogglingOverlaying" onclick="DisplayController.toggleClick();"></div>

    <% if (type !== 'sp') { %>
    <div class="nav-container player-data" style="top: 0;">
        <img class="profile-pic" src="/img/profilPicErsatz_bak.bmp">
        <div class="counter-container">
            <input type="number" id="moveCounterP2" class="counterInput form-control" disabled style="cursor: default;">
            <img src="/img/arrow_blue.png" />
        </div>
        <div class="counter-container">
            <input type="number" id="chipCounterP2" class="counterInput form-control" disabled style="cursor: default;">
            <img src="/img/ChipGreen.png">
        </div>
    </div>
    <% } %>

    <div class="nav-container iconBar">
        <div>
            <a data-toggle="modal" data-target="#rulesModal">
                <img src="/img/help.png" title="<%=strings.playground.icon_bar.help%>">
            </a>
            <a href="/<%=lang%>">
                <img src="/img/close.png" title="<%=strings.playground.icon_bar.close%>">
            </a>
            <a onclick="yieldGame();">
                <img src="/img/white_flag.png" title="<%=strings.playground.icon_bar.yield%>">
            </a>
            <a onclick="undo();">
                <img src="/img/undo.png" title="<%=strings.playground.icon_bar.undo%>">
            </a>
        </div>
    </div>

    <div class="nav-container player-data" style="bottom: 0;">
        <div class="counter-container">
            <input type="number" id="chipCounterP1" class="counterInput form-control" disabled style="cursor: default;">
            <img src="/img/ChipGreen.png">
        </div>
        <div class="counter-container">
            <input type="number" id="moveCounterP1" class="counterInput form-control" disabled style="cursor: default;">
            <img src="/img/arrow_yellow.png" />
        </div>
        <img class="profile-pic" src="/img/profilPicErsatz_bak.bmp">
    </div>
</div>

<div id="board-container">
    <div id="turnYellow" class="turnIndicator" style="box-shadow: 0 0 50px orange;"></div>
    <div id="turnBlue" class="turnIndicator" style="box-shadow: 0 0 50px darkblue;"></div>
    <div class="board-labels bl-top" style="margin-top: -5vmin;">
        <div>A</div><div>B</div><div>C</div><div>D</div><div>E</div><div>F</div><div>G</div><div>H</div>
    </div>
    <div class="board-labels bl-right" style="margin-left: 85vmin;">
        <div>8</div><div>7</div><div>6</div><div>5</div><div>4</div><div>3</div><div>2</div><div>1</div>
    </div>
    <div class="board-labels bl-bottom"  style="margin-top: 85vmin;">
        <div>A</div><div>B</div><div>C</div><div>D</div><div>E</div><div>F</div><div>G</div><div>H</div>
    </div>
    <div class="board-labels bl-left"  style="margin-left: -5vmin;">
        <div>8</div><div>7</div><div>6</div><div>5</div><div>4</div><div>3</div><div>2</div><div>1</div>
    </div>
    <div id="board-anchor"></div>
</div>

<% include partials/modal_start %>
<% include partials/modal_finish %>
<% include partials/modal_rules %>

</body>
</html>